# Dependency folders
node_modules/

# Playwright specific
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/

# Local environment files
.env
.DS_Store.env

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
